 h1 {
     text-align: center;
 }
 
 .title {
     text-align: center;
     color: #c2c2a3;
 }
 
 a {
     color: teal;
     text-decoration: none;
 }
 
 a:visited {
     color: teal;
 }
 /* mouse over link */
 
 a:hover {
     background-color: lavender;
 }
 
 h2 {
     text-align: center;
 }
 
 li {
     list-style-type: none;
 }
 
 .clearfix {
     border: 1px solid #ccc;
     overflow: auto;
     margin-bottom: 25px;
     padding-left: 80px;
 }
 
 .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 22%;
     border-radius: 25px;
     margin-top: 10px;
 }
 
 .upcycle {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 40%;
     border-radius: 25px;
     margin-bottom: 10px;
 }
 /**
 * Generic Styling
*/
 
 body {
     background: #fff;
     min-height: 100vh;
     box-sizing: border-box;
     padding-top: 2.5vh;
     padding-bottom: 5vh;
     font-family: "Times New Roman", arial;
     font-weight: 300;
     line-height: 1.5;
     max-width: 60rem;
     margin: 0 auto;
     font-size: 112%;
 }
 
 .fas,
 .fab {
     padding: 10px;
     font-size: 30px;
     width: 30px;
     text-align: center;
     text-decoration: none;
     border-radius: 50%;
     margin: 5px;
 }
 
 .fa-mail-bulk {
     background: #00b38f;
     color: white;
 }
 
 .fa-github {
     background: #00b38f;
     color: white;
 }
 
 .fa-file-alt {
     background: #00b38f;
     color: white;
 }
 
 .fa-linkedin {
     background: #00b38f;
     color: white;
 }
 
 .span {
     background: white;
 }
 /**
 * Tabs
 */
 /* make sure it wraps */
 
 .tabs {
     display: flex;
     flex-wrap: wrap;
 }
 /* Put the labels first */
 
 .tabs label {
     order: 1;
     display: block;
     padding: 1rem 2rem;
     margin-right: 0.2rem;
     cursor: pointer;
     background: #00b38f;
     font-weight: bold;
     transition: background ease 0.2s;
     border-radius: 5.5px;
 }
 
 .tabs .tab {
     order: 99;
     flex-grow: 1;
     width: 100%;
     display: none;
     padding: 1rem;
     margin-bottom: 5px;
     background: #80ffbf;
     border-radius: 5.5px;
 }
 
 .tabs input[type="radio"] {
     display: none;
 }
 
 .tabs input[type="radio"]:checked+label {
     background: #80ffbf;
 }
 
 .tabs input[type="radio"]:checked+label+.tab {
     display: block;
 }
 
 .skillCon {
     width: 70%;
     background-color: #ddd;
 }
 
 .skills {
     text-align: right;
     padding-top: 2.5px;
     padding-bottom: 2.5px;
     color: white;
 }
 
 .html {
     width: 70%;
     background-color: #a64dff;
 }
 
 .css {
     width: 70%;
     background-color: #4dff4d;
 }
 
 .js {
     width: 50%;
     background-color: #ffff4d;
 }
 
 .sql {
     width: 50%;
     background-color: #FA8072;
 }
 
 .tooltip {
     position: relative;
     display: inline-block;
     border-bottom: 1px dotted black;
 }
 
 .tooltip .tooltiptext {
     visibility: hidden;
     width: 120px;
     background-color: #c2c2a3;
     color: #000;
     text-align: center;
     border-radius: 6px;
     padding: 5px 0;
     position: absolute;
     z-index: 1;
     bottom: 150%;
     left: 50%;
     margin-left: -60px;
     font-size: 1rem;
 }
 
 .tooltip .tooltiptext::after {
     content: "";
     position: absolute;
     top: 100%;
     left: 50%;
     margin-left: -5px;
     border-width: 5px;
     border-style: solid;
     border-color: black transparent transparent transparent;
 }
 
 .tooltip:hover .tooltiptext {
     visibility: visible;
 }
 /*-------------mobile---------------------------------------------*/
 
 @media only screen and (min-device-width: 280px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
     .tabs .tab,
     .tabs label {
         order: initial;
         border-radius: 15px;
         display: none;
         width: 100%;
     }
     .tabs label {
         width: 100%;
         margin-top: 0.2rem;
         text-align: center;
         border-radius: 15px;
         display: inline-block;
     }
     .center {
         display: block;
         margin-left: auto;
         margin-right: auto;
         width: 28rem;
         border-radius: 25px;
         margin-top: 10px;
     }
     h1 {
         text-align: center;
         font-size: 3rem;
     }
     h4 {
         text-align: center;
         color: #c2c2a3;
         font-size: 2rem;
     }
     i {
         font-size: 20px;
         align-content: center;
     }
     .fas,
     .fab {
         padding: 30px;
         margin: 5px;
     }
 }
 
 .contact {
     display: flex;
     justify-content: center;
 }